body {
	background: dimgrey;
}
.discribe{
	text-align: center;
	margin: auto;
	width: 50%;
}
h1, p{
	text-align: center;
	width: 500px;
	position: relative;

}

.video{
	margin: auto;
	position: relative;
	text-align: center;
}