@keyframes rotatingCog1{
    0%{transform: rotateZ(0);}
    100%{transform: rotateZ(360deg);}
}
@keyframes rotatingCog2{
    0%{transform: rotateZ(0);}
    100%{transform: rotateZ(-360deg);}
}
@keyframes rotatingIcon1{
    0%{transform: rotateY(0);}
    100%{transform: rotateY(-360deg);}
}

@keyframes rotatingIcon2{
    0%{transform: rotateX(0);}
    /* 50%{transform: rotateZ(angle)} */
    100%{transform: rotateX(360deg);}
}
@keyframes rotatingIcon3{
    100%{transform: rotateX(0);}
    /* 50%{transform: rotateZ(angle)} */
    0%{transform: rotateX(360deg);}
}

@keyframes banner{
    /* 0%{margin-top:35px;} */
    50%{margin-left:65px;}
    100%{margin-right:100px;}
    /* 50%{margin-bottom:50px;} */
}

.navbar{
	width: 90%;
}
body {
	background: dimgrey;
}
.counter{
	margin-bottom: 30px;
}
.cogs4{
	position: relative;
	top: 83px;
}

.cog1{
	position: relative;
	height: 200px;
	width: 200px;
	right: -87px;
	top: 55px;
	animation: rotatingCog1 16s infinite;
	animation-timing-function: linear;

}

.cog2{
	position: relative;
	height: 200px;
	width: 200px;
	right: -201px;
	top:2px ;
	animation: rotatingCog2 16s infinite;
	animation-timing-function: linear;
}
.cog3{
	position: relative;
	height: 200px;
	width: 200px;
	right: -31px;
	top: -127px;
	animation: rotatingCog1 16s infinite;
	animation-timing-function: linear;
}
.cog4{
	position: relative;
	height: 250px;
	width: 250px;
	right: -661px;
	top: -836px;
	animation: rotatingCog1 16s infinite;
	animation-timing-function: linear;
}
.cog5{
	position: relative;
	height: 250px;
	width: 250px;
	right: -275px;
	top: -650px;
	animation: rotatingCog2 16s infinite;
	animation-timing-function: linear;
}

.cog30{
	position: relative;
	height: 200px;
	width: 200px;
	right: 159px;
	top: -702px;
	animation: rotatingCog1 16s infinite;
	animation-timing-function: linear;

}

.cog6{
	position: relative;
	height: 50px;
	width: 50px;
	right: -9px;
	top: -72px;
	animation: rotatingCog1 16s infinite;
	animation-timing-function: linear;
}
.cog7{
	position: relative;
	height: 50px;
	width: 50px;
	right: -1px;
	top: -73px;
	animation: rotatingCog2 16s infinite;
	animation-timing-function: linear;
}
.cog8{
	position: relative;
	height: 50px;
	width: 50px;
	right: 7px;
	top: -74px;
	animation: rotatingCog1 16s infinite;
	animation-timing-function: linear;
}
.cog9{
	position: relative;
	height: 50px;
	width: 50px;
	right: 16px;
	top: -75px;
	animation: rotatingCog2 16s infinite;
	animation-timing-function: linear;
}
.cog10{
	position: relative;
	height: 50px;
	width: 50px;
	right: 24px;
	top: -76px;
	animation: rotatingCog1 16s infinite;
	animation-timing-function: linear;
}
.cog11{
	position: relative;
	height: 50px;
	width: 50px;
	right: -559px;
	top: -154px;
	animation: rotatingCog2 16s infinite;
	animation-timing-function: linear;
}
.cog12{
	position: relative;
	height: 50px;
	width: 50px;
	right: -551px;
	top: -155px;
	animation: rotatingCog1 16s infinite;
	animation-timing-function: linear;
}
.cog13{
	position: relative;
	height: 50px;
	width: 50px;
	right: -543px;
	top: -156px;
	animation: rotatingCog2 16s infinite;
	animation-timing-function: linear;
}
.cog14{
	position: relative;
	height: 50px;
	width: 50px;
	right: -490px;
	top: -110px;
	animation: rotatingCog1 16s infinite;
	animation-timing-function: linear;
}
.cog15{
	position: relative;
	height: 50px;
	width: 50px;
	right: -437px;
	top: -64px;
	animation: rotatingCog2 16s infinite;
	animation-timing-function: linear;
}
.cog16{
	position: relative;
	height: 50px;
	width: 50px;
	right: -385px;
	top: -19px;
	animation: rotatingCog1 16s infinite;
	animation-timing-function: linear;
}
.cog18{
	position: relative;
	height: 50px;
	width: 50px;
	right: -322px;
	top: -65px;
	animation: rotatingCog1 16s infinite;
	animation-timing-function: linear;
}
.cog19{
	position: relative;
	height: 50px;
	width: 50px;
	right: -267px;
	top: -111px;
	animation: rotatingCog2 16s infinite;
	animation-timing-function: linear;
}
.cog20{
	position: relative;
	height: 50px;
	width: 50px;
	right: -535px;
	top: -157px;
	animation: rotatingCog1 16s infinite;
	animation-timing-function: linear;
}
.cog21{
	position: relative !important;
	height: 50px !important;
	width: 50px !important;
	right: -528px !important;
	top: -158px !important;
	animation: rotatingCog2 16s infinite !important;
	animation-timing-function: linear !important;
}
.cog17{
	position: relative;
	height: 50px;
	width: 50px;
	right: -377px;
	top: -20px;
	animation: rotatingCog2 16s infinite;
	animation-timing-function: linear;
}
#learned1{
	position: relative;
	width: 581px;
	height: 115px;
	bottom: 169px;
	right: -10px;
	animation: banner 9s infinite;
	animation-timing-function: linear;
}

.learned{
	font-family: 'Mako', sans-serif;
	font-size: 25px;
	position: relative;
	width: 306px;
	margin: 1px;
	top: -113px;
	right: -249px;
	color: black;
}
.learned2{
	font-family: 'Mako', sans-serif;
	font-size: 25px;
	position: relative;
	width: 306px;
	margin: 1px;
	top: -196px;
	right: -797px;
	color: black;
}
.angular{
	right: -100px;
	position: relative;
	animation: rotatingIcon1 16s infinite;
	animation-timing-function: linear;
	top: -317px;
	right: -735px;
}
.java{
	position: relative;
	animation: rotatingIcon2 16s infinite;
	animation-timing-function: linear;
	left: 710px;
	bottom: 289px;
	width: 211px;
	height: 96px;
}
.native{
	position: relative;
	width: 131px;
	height: 50px;
	animation: rotatingIcon3 16s infinite;
	animation-timing-function: linear;
	bottom: 369px;
	left: 538px;
}

.me{
	background: #e8e8e8;
	padding: 12px;
	border-radius: 10px;
	border: 4px groove;
	box-shadow: 6px 6px 6px black;
	width: 100%;
	position: relative;
	top: 79px;

}
p{
	font-family: 'Mako', sans-serif;
	font-size: 20px;
}

.footer{
	margin: auto;
	width: 90%;
}

.fadeOut {
    opacity: 0.17;
    transition: opacity 5s ease-in-out;
}
.fadeOut:hover {
    opacity: 1.0;
    transition: opacity 5s ease-in-out;
}​



